# Own stuff
TODO.txt

# Built binary
journey

# Log file
log.txt

# Releases
releases/

# Database
content/data/*
!content/data/README.md

# Images
content/images/*
!content/images/README.md

# Themes
content/themes/*
!content/themes/README.md
!content/themes/promenade/*

# Https certs
content/https/*
!content/https/README.md

# Plugins
content/plugins/*
!content/plugins/README.md

# Pages
content/pages/*
!content/pages/README.md

# Go
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
# Folders
_obj
_test
# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.exe
*.test
*.prof

# Sublime Text
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
# workspace files are user-specific
*.sublime-workspace
# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project
# sftp configuration file
sftp-config.json

# MacOS
.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

vendor
nohup.out
