body {
    padding-top: 45px; /* To offset against Bootstrap navbar. */
    padding-bottom: 50px; /* To offset against Bootstrap navbar. */
}

/* To fit images into the preview box */
img {
    max-width:100%;
    max-height:100%;
}

/* To make lead text black regardless of bootstrap theme */
.lead {
    color: #000000 !important;
}

/* To make text in input fields black regardless of bootstrap theme */
.form-control {
    color: #000000 !important;
}

/* To make bootsrap switches fit into the yeti theme */
.bootstrap-switch {
    border-radius: 0 !important;
}

.bootstrap-switch-label {
    border-radius: 0 !important;
}

.bootstrap-switch-handle-on {
    border-radius: 0 !important;
}

.bootstrap-switch-handle-off {
    border-radius: 0 !important;
}

.img-settings {
    cursor: pointer;
    min-height: 5em;
    min-width: 5em;
    max-height: 35%;
    max-width: 35%;
    background-color: #f8f8f8;
}

#post-cover-delete {
    cursor: pointer;
}

/* To move collapsed button in bottom navbar to right */
.bottom-collapsed-button {
    float: left;
    margin-left: 15px;
    margin-right: 0;
}

.save-button-navbar {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.logout {
    color: #f04124 !important;
}

.post-content-row {
    cursor: pointer;
}

.post-content-row:hover {
    color: #ffffff !important;
    background-color: #cccccc !important;
}

.post-cell {
    max-width: 200px;
}

.help-inner-col {
    padding: 10px;
    background-color: #f8f8f8;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

/* To offset the modal footer against the file input field */
.modal-divider {
    margin-top: 15px;

}

.img-modal {
    cursor: pointer;
}

.imgselected {
    background-color: #337AB7;
    outline: none;
    border-color: #337AB7;
    box-shadow: 0 0 10px #337AB7;
}

#image-delete {
    cursor: pointer;
    text-align: right;
    margin-bottom: 15px;
}

#markdown-title-input {
    padding: 0;
    resize: none;
    border: none;
    box-shadow: none;
    font-size: 2em;
    color: black;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#markdown-textarea {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 100%;
    padding: 0;
    resize: none;
    border: none;
    margin-top: 20px;
}

.markdown-modal-button {
    cursor: pointer;
    float: right;
    font-size: 1.3em;
    opacity: 0.4;
    padding-right: 0.8em;
    color: #000000;
}

.markdown-modal-button:hover {
    opacity: 1.0;
} 

#markdown-text-div {
    padding-bottom: 3em;
}

.navbar-label-text {
    font-size: 16px;
    color: #ffffff;
}

.navigation-item {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f8f8f8;
    outline: 1px solid #dddddd;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
